[defaults]
host_key_checking = False
private_key_file = /Users/akhileshraj/Desktop/summer2024/provisioning/LAB.pem

[ssh_connection]
ssh_args = -F /Users/akhileshraj/Desktop/summer2024/provisioning/chameleon_config -o ControlMaster=auto -o ControlPersist=60s